
body {
    font-family: 'Lucida Grande';
    color: #5f5d60;
    margin: 0px;
		padding: 0px;
}
	

  .navbar-light 
  .navbar-nav 
  .nav-link.active{
	color:#935F79;
  }
  .navbar-light 
  .navbar-nav 
  .nav-link{
	color:#BD93BD;
  }
  .navbar-light 
  .navbar-nav 
  .active >.nav-link{
	color: #935F79;
  }
  .navbar-light .navbar-nav .nav-link:hover{
	color:#935F79;
  }
  .navbar-light .navbar-nav .nav-link:focus{
	color: #935F79;
  }
  .navbar-expand-lg 
  .navbar-nav 
  .nav-link{
	padding: 20px;
  }

/* .flex-container {
  display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-left:20px;
	margin-right:90px;
	flex-wrap: wrap;

	} */

	main{
		padding: 30px ;
	}

	

	.resize {
		padding: 50px;
		padding-bottom: 0;
	}

	form{
		box-shadow:0 2px 10px rgba(0,0,0,0.04);
		
	}

	form:hover{
		box-shadow:0 3px 20px rgba(0,0,0,0.09) ;
	}


  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-synthesis:antialiased;
	text-rendering:optimizeLegibility;
}

 {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

/* .container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
} */

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	padding:25px;
	margin:0;
}

#contact h3 {
	color:#F05365 (255, 80, 203);
	color: #F05365 (255, 80, 203);
	display: block;
	font-size: 30px;
    font-weight: 400;
    text-align:center;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
    font-size:13px;
    text-align:center
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background: #F05365 (139, 28, 139);
	color: white;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background: #F05365(124, 48, 124);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

button{
	background-color: #F05365;
	border-radius: 4px;
}

::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/* footer */

footer{
  padding:10px;
  background-color: #F2EDEB;
}

footer img{
  width: 80px;
}

footer p{
  color: #b3aeb5;
  font-size:12px;
  margin: 0;
  padding:5px;
}

footer p a{
  color: #5f5d60;
  text-decoration: underline;
  opacity: 0.7;
  transition: all 0.5s;
}

footer a:hover{
  color: #5f5d60;
  opacity: 1;
}
