/* Global */
body,html{
  font-family: "Lucida Grande"; 
  margin: 0;
  padding: 0;
  
  
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.heading{
  padding-top:60px;
  padding-bottom:30px;
  color:#5f5d60;
  font-size:3vw
}

/* nav */
nav{
  height: 80px;
  margin: 0;
}


nav li a{
  font-size: 20px;
}

.navbar-light 
.navbar-nav 
.nav-link.active{
  color:#935F79;
}


.navbar-light 
.navbar-nav 
.nav-link{
  color:#BD93BD;
}

.navbar-light 
.navbar-nav 
.active >.nav-link{
  color: #935F79;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#935F79;
}

.navbar-light .navbar-nav .nav-link:focus{
  color: #935F79;
}

.navbar-expand-lg 
.navbar-nav 
.nav-link{
  padding: 20px;
}

/* 
.bg-light{
  background-color: #F2EDEB !important;
} */


/* intro */
.intro{
  text-align: center;
}

.intro p{
  margin-bottom:50px;
  font-size: 2vw; 
} 

.my-button{
  padding:12px 24px;
  color:white;
  opacity:0.8;
  border-radius:4px;
  background-color: #F05365;
  padding:15px 40px;
  cursor: pointer;
  box-shadow: 0 7px #f2374a;
  width: 4vw;
}

.intro a:hover{
  text-decoration: none;
  color: white;
}

.my-button:active{
  box-shadow:none;
  position:relative;
  top:7px;
}


/* random */
.random img{
  width: 40vw;
}

.random{
  text-align: center;
}

.random h3{
  color:#5f5d60;
  font-family: 'Amatic SC', cursive;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 3vw;
}



/* footer */
footer{
  padding:10px;
  background-color: #F2EDEB;
}

footer img{
  width: 80px;
}

footer p{
  color: #b3aeb5;
  font-size:12px;
  margin: 0;
  padding:5px;
}
