body {
    font-family: Helvetica;
    color: #925e78;
    margin: 0px;
    padding: 0px;
}

.latest-resources {
    background-color: #F2EDEB;
    color: #925e78;
    padding: 20px;
    margin: 0px;
    border: 0px; 
}

nav {
    background-color: #F2EDEB;
    color: #925e78;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul { 
    list-style-type: none;
    color: #925e78;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
     list-style-type: none;
     color: #925e78;
     margin: 0px;
     padding: 0px;
     display: inline;
     display: flex;
     justify-content: center;
     align-items: center;
}

.header-box {
    background-color: #BD93BD;
    color: #925e78;
    padding: 100px;
    margin: 0px;
    border: 0px;
}

.header-para {
    width: 500px;
    margin: 0px;
    color: #925e78;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}

footer {
    background-color: #F2EDEB;
    padding: 20px;
    margin: 0px;
    border: 0px; 
}

.activity-generator {
    background-color: #BD93BD;
    color: #925e78;
    padding: 50px;
    margin: 0px;
    border: 0px; 
}

.learn-more {
    display: flex;
    justify-content: flex-end;
}