body {
    font-family: 'Lucida Grande';
    color: #925e78;
    margin: 0px;
    padding: 0px;
}

.latest-resources {
    background-color: #F2EDEB;
    color: #925e78;
    padding: 20px;
    margin: 0px;
    border: 0px; 
}

nav {
    background-color: #F2EDEB;
    color: #925e78;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul { 
    list-style-type: none;
    color: #925e78;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
     list-style-type: none;
     color: #925e78;
     margin: 0px;
     padding: 0px;
     display: inline;
     display: flex;
     justify-content: center;
     align-items: center;
}

.header-box {
    background-color: #BD93BD;
    color: #925e78;
    padding: 100px;
    margin: 0px;
    border: 0px;
}

.header-para {
    width: 500px;
    margin: 0px;
    color: #925e78;
}

h1 {
    padding: 10px;
}

h2 {
    padding: 10px;
}

footer {
    background-color: #F2EDEB;
    padding: 20px;
    margin: 0px;
    border: 0px; 
}

.activity-generator {
    background-color: #BD93BD;
    color: #925e78;
    padding: 50px;
    margin: 0px;
    border: 0px; 
}

.learn-more {
    display: flex;
    justify-content: flex-end;
} 

.btn-primary {
    color: #F2EDEB;
    background-color: #F05365;
    border-color: #F05365;
  }
  .btn-primary:hover {
    color: #F2EDEB;
    background-color: #AF3946;
    border-color: #AF3946;
  }
  .btn-primary:focus, .btn-primary.focus {
    color: #F2EDEB;
    background-color: #AF3946;
    border-color: #AF3946;
    box-shadow: 0 0 0 0.2rem #AF3946(38, 143, 255, 0.5);
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #F2EDEB;
    background-color: #AF3946;
    border-color: #AF3946;
  }

  /* nav */
nav{
    height: 80px;
    margin: 0;
  }
  
  
  .navbar-light 
  .navbar-nav 
  .nav-link.active{
    color:#935F79;
  }
  
  .navbar-light 
  .navbar-nav 
  .nav-link{
    color:#BD93BD;
  }
  
  .navbar-light 
  .navbar-nav 
  .active >.nav-link{
    color: #935F79;
  }
  
  .navbar-light .navbar-nav .nav-link:hover{
    color:#935F79;
  }
  
  .navbar-light .navbar-nav .nav-link:focus{
    color: #935F79;
  }
  
  .navbar-expand-lg 
  .navbar-nav 
  .nav-link{
    padding: 20px;
  }